#SUPABASE CONFIGURATION
DATABASE_URL="database_URL"

SUPABASE_URL="URL_supabase"
SUPABASE_KEY="api-key"
SUPABASE_BUCKET_IMG="imagenes"
SUPABASE_BUCKET_PDF="cotizaciones"

MAIL_USERNAME="asd"
MAIL_PASSWORD="asd"

# JWT CONFIGURATION
ALGORITHM="ALGORITHM"
SECRET_KEY="your_secret_key_here"
TIME_MINUTES=60

BCRYPT_ROUNDS=10

LOG_LEVEL="DEBUG"
ORIGINS=["*", "http://localhost:5173"]

FIREBASE_CREDENTIALS_PATH=""
